body {
  background-color: #ffcc00; 
}

.container {
  width: 520px;
  height: auto;
  margin: 100px auto;
  background-color: #f2f2f2; 
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



.base {
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: block;
  float: none;
}

.block {
  width: 120px;
  padding: 5px 20px;
  margin-left: 20px;
  display: inline-block;
}

.base h4 {
  font-size: 26px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  margin-top: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  background: #ffffff; 
  font-size: 34px;
  color: #1e88e5; 
}

.title {
  font-size: 20px;
  text-align: left;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 2.7px;
  color: #4caf50; 
}

input[type="text"] {
  width: 140px;
  margin: auto;
  outline: none;
  min-height: 50px;
  border: 2px solid #1e88e5; 
  padding: 12px;
  background-color: #f7f7f7;
  border-radius: 2px;
  color: #1e88e5; 
  font-size: 17px;
}

input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #ff9800; 
  outline: none;
}

input[type="button"] {
  width: 150px;
  margin-left: 35%;
  margin-top: 40px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #4caf50; 
  color: #ffffff;
  padding: 14px 16px;
  text-align: center;
  font-size: 16px;
}

input[type="button"]:hover {
  background-color: #388e3c;
}

#age {
  display: block;
  margin: 10px;
  margin-top: 35px;
  padding: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  font-size: 23px;
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  word-spacing: 2.7px;
  color: #1e88e5; 
}
